<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

<center> <h2>Alumno : José Luis Dávila Quispillo </h2> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h1>Análisis de Datos con PANDAS</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

# Descripción:

<div class="alert alert-info">

En este notebook se explicarán Análisis de Datos con la librería **Pandas**  en el lenguaje de programación Python. 
    
</div>

# Objetivos:

 1. Importando archivos ***csv*** y manipulación inicial en **Pandas.**
 2. Analisis con datos reales de Futbol


[Análisis de Datos English Premier League (EPL)](#Análisis-de-Datos-English-Premier-League-(EPL)-2020-2021)<br>



[BIBLIOGRAFÍA](#BIBLIOGRAFÍA)<br>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center><img src="https://futbolete.com/apuestas/wp-content/uploads/2021/01/premier-league.png" width="600" height="4200"></center>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

<div class="alert alert-info"> La <strong>Premier League</strong>, también conocida en Inglaterra como The Premiership, es la máxima categoría del sistema de ligas de fútbol de Inglaterra. Comenzó a disputarse en la temporada 1992-93</div>

<div class="alert alert-info"> El análisis se realiza de la ultima temporada <strong>2020-2021</strong> de la <strong> Premier League</strong>

La Colección de datos utilizada de la temporada <strong>2020-2021</strong> de la <strong> Premier League</strong>
fueron descargados desde:

</div>

https://bit.ly/3aRnGVx

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****Análisis de Datos English Premier League (EPL) 2020-2021****<tfont>

In [2]:
#Librerías
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Cargamos los **datos** para luego ***limpiar nuestros datos***.

In [4]:
#cargamos un archivo CSV separado por comas
df = pd.read_csv('Data/EPL_20_21.csv')
df

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,Lys Mousset,Sheffield United,FRA,"FW,MF",24,11,2,296,0,0,50,80.0,0,0,0.22,0.10,0,0
528,Jack O'Connell,Sheffield United,ENG,DF,26,2,2,180,0,0,77,77.9,0,0,0.00,0.00,0,0
529,Iliman Ndiaye,Sheffield United,FRA,MF,21,1,0,12,0,0,3,100.0,0,0,0.00,0.00,0,0
530,Antwoine Hackford,Sheffield United,ENG,"DF,FW",16,1,0,11,0,0,1,100.0,0,0,1.16,0.00,0,0
531,Femi Seriki,Sheffield United,ENG,DF,17,1,0,1,0,0,0,-1.0,0,0,0.00,0.00,0,0

In [5]:
#leer 5 primeras lineas
epl.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0

In [5]:
#leer 4 primeras lineas aleatorias
df.sample(4)

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
460,Aleksandar Mitrović,Fulham,SRB,FW,25,27,13,1402,3,3,384,76.0,1,2,0.42,0.17,3,0
316,Conor Coady,Wolverhampton Wanderers,ENG,DF,27,37,37,3303,1,0,1789,88.1,0,0,0.03,0.00,5,0
396,Yves Bissouma,Brighton,MLI,MF,23,36,35,3111,1,0,1676,87.2,0,0,0.04,0.03,8,1
391,Dan Nlundulu,Southampton,ENG,FW,21,13,0,111,0,0,33,66.7,0,0,0.08,0.02,0,0

In [8]:
#Información del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   532 non-null    object
 1   Club                   532 non-null    object
 2   Nationality            532 non-null    object
 3   Position               532 non-null    object
 4   Age                    532 non-null    int64
 5   Matches                532 non-null    int64
 6   Starts                 532 non-null    int64
 7   Mins                   532 non-null    int64
 8   Goals                  532 non-null    int64
 9   Assists                532 non-null    int64
 10  Passes_Attempted       532 non-null    int64
 11  Perc_Passes_Completed  532 non-null    float64
 12  Penalty_Goals          532 non-null    int64
 13  Penalty_Attempted      532 non-null    int64
 14  xG                     532 non-null    float64
 15  xA                     532 non-null    float64
 16  Yellow_Cards           532 non-null    int64
 17  Red_Cards              532 non-null    int64
dtypes: float64(3), int64(11), object(4)
memory usage: 74.9+ KB

In [ ]:
#Resumen de Datos estadisticos ---- Solo columnas numéricas

In [ ]:
#Número total de valores nulos

Creamos 2 columnas mas **Minutos por partido** y ***Goles por partido***.

In [ ]:
# creacion de 2 columnas

In [ ]:
#visualizamos las nuevas columnas

In [ ]:
#Total de goles ---- temporada EPL 2020-2021 ultima temporada

In [ ]:
#Goles x Penales ---- temporada EPL 2020-2021 ultima temporada

In [ ]:
# Total Penales ---- temporada EPL 2020-2021 ultima temporada

### Gráfico Pie chart **Penales Marcados** y **Penales Atajados**.

In [ ]:
# Gráficos de penales
plt.figure(figsize=(13,6))

In [ ]:
# Posiciones únicas de cada jugador 
# Portero (GK), defensor (DF), centrocampista (MF) delantero (FW)

In [ ]:
# Filtrar jugadores delanteros (FW)

In [ ]:
# Cantidad jugadores delanteros (FW)

In [ ]:
#  Nacionalidad de los Jugadores

In [ ]:
# Nacionalidad de la mayoría de los jugadores

In [ ]:
# Los Club con maximo numero de jugadores en la temporada

In [ ]:
# Los Club con menor numero de jugadores en la temporada

### Edad de los jugadores

In [ ]:
# Grupo de edades de los Jugadores

In [ ]:
# Total de jugadores menores de 20 años en cada club

In [ ]:
# Jugadores menores de 20 años en  club Manchester United (7)

In [ ]:
# Jugadores menores de 20 años en  club Chelsea (7)

In [ ]:
# Gráfico BoxPlot de la edad promedio de los jugadores de cada club

In [ ]:
# Clubs con Edades promedio mas altas

In [ ]:
# Grafica de Total de asistencias gol por cada club

In [ ]:
# Jugadores top de 10 Asistencias Gol

In [ ]:
# Grafica del total de goles de cada club

In [ ]:
#Top 10 de  Goles por Jugador

In [ ]:
# Top 10 Goles por partido

In [ ]:
# Grafica Pi Chart - Goles con asistencia y Goles sin asistencia

In [ ]:
#Top 10 jugadores con mas tarjetas amarillas

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****BIBLIOGRAFÍA****<tfont>

[1] Guía de pandas oficial https://pandas.pydata.org/docs/user_guide/index.html

[2] Python Pandas Tutorial: A Complete Introduction for Beginners https://bit.ly/2AQMQld

[3] Guía para pandas https://pybonacci.org/2014/05/30/pandas-i/

[4] Dataset variados https://www.kaggle.com/datasets

[5] SimpliLearn https://www.youtube.com/c/SimplilearnOfficial

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)